---
export interface Props{
    image:string,
}
const { image } = Astro.props
---


<div class="bg-white rounded shadow-lg  shadow-black/20 dark:shadow-white/20 overflow-hidden aspect-video">
    <img src={image} alt="" class="h-full" />
</div>


