---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import ProjectCard from "../cards/ProjectCard.astro";

const projects = [
    {
        title: "Aulapp - aplicaci贸n de clases online",
        image: "/images/aulapp.jpg",
        link: "https://aulapp.com",
    },
    {
        title: "Caixabank - aplicaci贸n de gesti贸n y visualizaci贸n de datos",
        image: "/images/APLVENcaixabank.png",
        link: "",
    },
];

---

<section id="portfolio">
    <Container className="flex flex-col items-center">
        <Title>Algunos de los proyectos realizados</Title>
        <div class="grid grid-cols-1 mt-6 gap-8 sm:grid-cols-2">
            {projects.map((project, index) => (
                <ProjectCard
                    image={project.image}
                    title={project.title}
                    link={project.link}
                />
            ))}
        </div>
    </Container>
</section>